@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: black;
}

.swiper-slide:nth-child(2n) {
  background-color: black;
}

.swiper-slide:nth-child(3n) {
  background-color: black;
}

.swiper-slide:nth-child(4n) {
  background-color: black;
}

.swiper-slide:nth-child(5n) {
  background-color: black;
}

.swiper-slide:nth-child(6n) {
  background-color: black;
}

.swiper-slide:nth-child(7n) {
  background-color: black;
}

.swiper-slide:nth-child(8n) {
  background-color: black;
}

.swiper-slide:nth-child(9n) {
  background-color: black;
}

.swiper-slide:nth-child(10n) {
  background-color: black;
}
